/* Write your CSS here */
.suggestion-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 0px;
  padding-right: 10px;
  cursor: pointer;
}

.suggestion-text {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #475569;

  padding-left: 0px;
}

.arrow-image {
  width: 30px;
  height: 30px;
}
