/* Write your CSS here */
/* Write your CSS here */
.app-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.google-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 15px 40px 15px;
}

@media screen and (min-width: 768px) {
  .google-container {
    width: 60%;
    padding: 50px 25px 50px 25px;
  }
}

.google-image {
  width: 50%;
  max-width: 300px;
  max-height: 200px;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 90%;
  padding: 5px;
}

.input-search-container {
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.input-search-element {
  width: 100%;
  border-width: 0px;
  outline: none;
  padding: 10px 20px 10px 20px;
  font-size: 18px;
}

.google-search-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}
